/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #282c34; /* Midnight blue */
}

header {
    background-color: #110022; /* Dark purple */
    color: #fff;
    text-align: center;
    padding: 1.5%; /* Ajustement de la valeur en pourcentage */
    z-index: 2; /* Setting a higher z-index to bring it above the main content */
    transition: padding 0.5s, position 0.5s, top 0.5s;
}

header img {
    max-width: 80%;
    height: auto;
}

/* Style pour le header lorsque décollé */
header.scrolled {
    padding: 0.5%; /* Ajustement de la valeur en pourcentage */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh; /* Ajustement de la valeur en pourcentage */
}

header h1 {
    margin: 0; /* Enlever les marges pour éviter un espace vide dans le header */
    display: inline-block; /* Ajout de display: inline-block pour que le texte occupe l'espace minimum */
    opacity: 1; /* Par défaut, le titre est visible */
    transition: opacity 0.3s; /* Ajout de la transition pour une animation fluide */
}

/* Style pour le titre h1 dans le header lorsque décollé */
header.scrolled h1 {
    opacity: 0; /* Lorsque le header est décollé, le titre devient invisible */
}

nav {
    background-color: #33035d; /* Darker purple */
    color: #fff;
    padding: 1.5%; /* Ajustement de la valeur en pourcentage */
    text-align: center;
    position: relative;
    z-index: 2;
    transition: padding 1s, top 1s, position 1s, height 1s; /* Ajout de la transition pour une animation fluide */
}

/* Style pour la nav bar lorsque décollée */
nav.scrolled {
    padding: 0.5%; /* Ajustement de la valeur en pourcentage */
    position: fixed;
    top: 20vh; /* Ajustement de la valeur en pourcentage */
    left: 0;
    right: 0;
    height: 5vh; /* Ajustement de la valeur en pourcentage */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 1.5%; /* Ajustement de la valeur en pourcentage */
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2%;
}

footer {
    background-color: #110022; /* Dark purple */
    color: #fff;
    text-align: center;
    padding: 1.5%;
    position: relative; /* Adding position to the footer */
    z-index: 2; /* Setting a higher z-index to bring it above the main content */
    transition: padding 1.5s, position 1.5s, top 1.5s;
}

/* Style for the footer when detached */
footer.scrolled {
    padding: 1.5%; /* Ajustement de la valeur en pourcentage */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.5hv;
    height: 3vh; /* Ajustement de la valeur en pourcentage */
}

/* Style for the lore sections */
div[lang="fr"] {
    display: block;
}

div[lang="en"] {
    display: none;
}

div {
    font-family: "Arial", sans-serif;
    font-size: 1.8vw; /* Ajustement de la valeur en pourcentage */
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 2%; /* Ajustement de la valeur en pourcentage */
    background-color: #1f1f1f; /* Dark gray */
    color: #f7f7f7; /* Light gray text */
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Style for the titles */
h2 {
    font-family: "Georgia", serif;
    font-size: 2.8vw; /* Ajustement de la valeur en pourcentage */
    font-weight: bold;
    margin-bottom: 2%; /* Ajustement de la valeur en pourcentage */
    color: #fff; /* White */
}

/* Style for the paragraphs */
p {
    color: #e5e5e5; /* Light gray */
}

/* Style for the links */
a {
    color: #007bff; /* Blue */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Style for the citations */
blockquote {
    border-left: 0.4vw solid #007bff; /* Ajustement de la valeur en pourcentage */
    padding-left: 2%; /* Ajustement de la valeur en pourcentage */
    color: #999; /* Gray */
    font-style: italic;
}

/* Style for the button to toggle languages */
button {
    font-family: 'Arial', sans-serif;
    font-size: 1.6vw; /* Ajustement de la valeur en pourcentage */
    padding: 1% 2%; /* Ajustement de la valeur en pourcentage */
    background-color: #33035d; /* Darker purple */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #551A8B; /* Dark purple on hover */
}

/* Text transition effect */
div[lang="en"].transition,
div[lang="fr"].transition {
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
